<p>kiosk101 works!</p>




<body class="shelfspace" >
    <div id="shelf1-main"><iframe id="shelf1-iframe" src="some pics" data-thumbnail="some thumbnail.jpeg" data-responsive="0"></iframe>
    </div>
    
    <div id="shelf1-main"><iframe id="shelf1-iframe" src="some pics" data-thumbnail="some thumbnail.jpeg"
        data-responsive="0"></iframe>
    </div>

    <div id="shelf1-main"><iframe id="shelf1-iframe" src="some pics" data-thumbnail="some thumbnail.jpeg"
        data-responsive="0"></iframe>
    </div>
</body>

