<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav">
                
                <button color="primary" mat-button routerLink="/entertainment">Entertainment</button>
                <button color="primary" mat-button routerLink="/libraries">Libraries</button>
                <button color="primary" mat-button routerLink="/lifestyles">Lifestyles</button>
                <button color="primary" mat-button routerLink="/resources">Resources</button>


    </mat-drawer>
    
    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>

                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button> 
                
                <span><p>Cultural Epicenter</p></span>
                <span class='spacer'></span>
                <mat-icon>favorite</mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>
       <router-outlet></router-outlet>
    </div>
</mat-drawer-container>


